@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.divider {
  width: 100%;
  height: 0;
  border-bottom: 1px solid $border-color;
}
.page {
  @include flex(column);
  margin-top: 110px;
  margin-inline: auto;
  gap: 40px;
  border-radius: 12px;
  padding: 40px;
  max-width: 1400px;
  width: 100%;
  background-color: $surface-color;
  &__title {
    color: $text-color;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }
  &__form {
    @include flex(column);
    gap: 40px;
    height: 100%;
    &-row {
      @include flex();
      gap: 32px;
    }
    &-buttons {
      margin-left: 0;
      margin-right: auto;
      @include flex();
      gap: 16px;
      max-width: 434px;
      width: 100%;
      height: auto;
    }
  }
}

//Responsive
@media only screen and (max-width: 1600px) {
  .page {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .page__form-row {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 576px) {
  .page__form-buttons {
    flex-wrap: wrap;
  }
}
