// Background
$background-color: #f7f8fa;
$surface-color: #ffffff;
$background-secondary-color: #f9fafb;

// Text
$text-color: #3c4351;
$text-secondary-color: #8999b9;
$muted-color: #c3c5c9;

// Brand
$primary-color: #4152a0;

// Secondary
$secondary-background-color: #eceef6;

// Border
$border-color: #e2edff;
$input-border-color: #ececee;

// Status
$error-color: #eb482b;
$info-color: #1976d2;
